body {
	font-family: 'Montserrat-light', sans-serif;
	font-size: 18px;
}


ul {
	list-style-type: none;
	margin: 20px;
	padding: 20px;
	background-color: white;
	margin-right: 175px;
}

li {
	float: right;
	display: inline;
	text-align: center;
	padding: 14px 30px;
	text-decoration: none;
	color: #626878;
	font-size: 18px;
}

.logo {
	float: left;
	width: 80px;
	height: 75px;
	margin-left: 150px;
	margin-bottom: 20px;
}

.button2 {
	color: #626878;
	border: 2px solid #626878;
	padding: 10px 24px;
	text-decoration: none;
	font-size: 14px;
	background-color: white;
	font-weight: bold;
	width: 150px;
}


.wrapper1 {
	background-color: #009286;
	padding: 150px 100px;
	height: 250px;
	clear: both;
}

.wrapper2 {
	background-color: white;
	padding: 0px 50px;
	display: inline;
	bottom: -20px;
}

.wrapper3 {
	background-color: white;
	height: 600px;
	display: inline;
	float: top;
	overflow: hidden;
}



.box-pic {
	width: 200px;
	height: 400px;
	margin-right: 250px;
	float: right;
	position: relative;
	top: -80px;
	overflow: hidden;
	
}

.box-text {
	float: left;
	width: 600px;
	color: white;
	display: block;
	position: relative;
	overflow: hidden;
	margin-left: 80px;
	line-height: 30px;
	font-size: 14px;
	margin-top: -20px;

}

.box-button {
	float: left;
	width: 160px;
	color: white;
	border: 2px solid white;
	padding: 10px 10px;
	text-decoration: none;
	font-size: 16px;
	background-color: #009286;
	font-weight: bold;
}

#box-right {
	float: right;
	width: 260px;
	text-align: center;
	margin-right: 240px;
	margin-bottom: 50px;
	margin-top: 50px;
	line-height: 25px;
	font-size: 16px;
	position: relative;
	overflow: hidden;
	color: #626878;

}

#box-left {
	float: left;
	width: 260px;
	text-align: center;
	margin-left: 200px;
	margin-bottom: 50px;
	margin-top: 50px;
	position: relative;
	line-height: 25px;
	font-size: 16px;
	overflow: hidden;
	color: #626878;
}

#box-mid {
	float: left;
	position: relative;
	width: 260px;
	margin-bottom: 50px;
	margin-left: 100px;
	text-align: center;
	margin-top: 50px;
	line-height: 25px;
	font-size: 16px;
	overflow: hidden;
	color: #626878;
	padding-left: -50px;
	padding-right: -20px;
}

.margin {
	margin-bottom: -5px;
}



